.cell {
	outline: 1px solid black;
	height: 10px;
	width: 10px
}

.row {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

section {
	margin-top: 1em;
}

.colors > div {
	margin-left: 1em;
	height: 20px;
	width: 20px;
}

.red {
	background-color: red;
}

.blue {
	background-color: blue;
}

.green {
	background-color: green;
}

.black {
	background-color: black;
}

.white {
	background-color: white;
}

.yellow {
	background-color: yellow;
}

.orange {
	background-color: orange;
}

.lightgreen {
	background-color: lightgreen;
}

.indianred {
	background-color: indianred;
}

.hotpink {
	background-color: hotpink;
}

.royalblue {
	background-color: royalblue;
}

.brown {
	background-color: brown;
}

.selected {
	outline: 3px dotted black;
}

.saved-canvas-item {
	cursor: pointer;
}

.hidden {
	display: none;
}
